<div class="ui icon message">
    <i class="notched circle loading icon"></i>
    <div class="content">
        <div class="header">
            {{trans 'general.just-one-second'}}
        </div>
        <p>{{trans 'general.fetching'}}</p>
    </div>
</div>