<h1 class="main-heading">{{trans 'admin-menu.genealogy.tree.title' }}</h1>
<div id="chart-container"></div>
{{#if isLoading }}
    <<div class="loader-holder">
        <img src="../assets/images/ring-alt.gif" alt=""> {{trans loadingText }}
    </div>
{{/if}}