/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/web/app/
bower_components
node_modules
tmp
*.DS_Store
.idea/
composer.lock
var/
composer.phar
Vagrant/.vagrant/
Vagrant/vendor/
