<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid ">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Content Republic</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" id="nav-icon3">
                    <span ></span>
                    <span ></span>
                    <span ></span>
                    <span ></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    {{#bs-dropdown tagName="li"}}
                        {{#bs-dropdown-toggle}}{{user.username }}<i class="fa fa-caret-down"></i>{{/bs-dropdown-toggle}}
                        {{#bs-dropdown-menu}}
                            <li>{{#link-to profileRoute }}My profile{{/link-to}}</li>
                            <li><a {{action 'logout'}}>Logout</a></li>
                        {{/bs-dropdown-menu}}
                    {{/bs-dropdown}}
                    <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <section class="mobile-toggle">
            <a href="#" class="toggle-left-section collapsed">
            </a>
        </section>
    </nav>
</header>