<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><i class="fa fa-envelope-o" aria-hidden="true"></i>My profile</a>
    </h4>
</div>
<div id="collapseSix" class="panel-collapse collapse">
    <div class="panel-body">
        <ul class="table">
            <li>
                {{#link-to 'dashboard.agent.profile.profile-settings'}}My profile settings{{/link-to}}
            </li>
        </ul>
    </div>
</div>

