<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-th-list" aria-hidden="true"></i>Reports</a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="table">
                <li>
                    {{#link-to 'dashboard-agent.reports.customer-orders'}}Customer Orders{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard-agent.reports.commissions' }}Commissions and bonuses{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>