<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-credit-card" aria-hidden="true"></i>My wallet</a>
    </h4>
</div>
<div id="collapseFour" class="panel-collapse collapse">
    <div class="panel-body">
        <ul class="table">
            <li>
                {{#link-to 'dashboard-agent.wallet.wallet-summary'}}Summary{{/link-to}}
            </li>
            <li>
                {{#link-to 'dashboard-agent.wallet.payout-history' }}Payout history{{/link-to}}
            </li>
        </ul>
    </div>
</div>
