<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="changePassModal">
                Change password
                <span aria-hidden="true" class="close pull-right" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></span>
            </h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="current-password">Current password</label>
                    <input type="password" class="form-control" id="current-password">
                </div>
                <div class="form-group">
                    <label for="new-password">New password</label>
                    <input type="password" class="form-control" id="new-password">
                </div>
                <div class="form-group">
                    <label for="new-password-repeat">Repeat new password</label>
                    <input type="password" id="new-password-repeat" class="form-control">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </div>
</div>
