<h3>Password Reset</h3>
<h4 class="text-center">Enter your email address <br> and we'll help you reset your password</h4>
<form>
    <div class="form-group">
        <div class="icon-addon addon-lg">
            {{input value=email placeholder='email' class='form-control' id='email'}}
            <label for="email" class="glyphicon glyphicon-envelope" rel="tooltip" title="email"></label>
        </div>
    </div>
    <button type="submit" class="sign-in">RESET PASSWORD</button>
    <!--<input onClick="parent.location='email-sent.html'" class="sign-in" type=button value=''>-->
</form>