<h3>Password Reset</h3>
<h4 class="text-center">Enter your email address <br> and we'll help you reset your password</h4>
<form>
    {{#with (changeset this validations) as |changeset|}}
        <div class="form-group">
            {{ email}}
            <div class="icon-addon addon-lg">
                {{validated-field
                type="text"
                changeset=changeset
                property="email"
                validateProperty=(action 'validateProperty' changeset "email")
                }}
            </div>
        </div>
        <button type="submit" class="sign-in">RESET PASSWORD</button>
    {{/with}}

    <!--<input onClick="parent.location='email-sent.html'" class="sign-in" type=button value=''>-->
</form>