{{#if isSelected}}
    <span class="select-icon select-icon-check selected-option">
    &#10003;
  </span>
{{/if}}

<span class="select-option-label
  {{if isSelected 'select-option-label-selected'}}">
    <span>{{#if optionLabelKey}} {{get option optionLabelKey}}  {{else}} {{option}}{{/if}}</span>
</span>
