<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-tree" aria-hidden="true"></i>Genealogy Tree</a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="table">
                <li>
                    {{#link-to 'dashboard.tree-view'}}Tree View{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.table-view'}}Table View{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.folder-view'}}Folder View{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>
