<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><i class="fa fa-envelope-o" aria-hidden="true"></i>Mass Mails</a>
    </h4>
</div>
<div id="collapseSix" class="panel-collapse collapse">
    <div class="panel-body">
        <ul class="table">
            <li>
                {{#link-to 'dashboard.mass-mails.add-new-mail-list'}}Add New Mail List{{/link-to}}
            </li>
            <li>
                {{#link-to 'dashboard.mass-mails.all-mail-lists'}}All Mail Lists{{/link-to}}
            </li>
            <li>
                {{#link-to 'dashboard.mass-mails.add-new-campaign'}}Add New Mass Mail Campaign{{/link-to}}
            </li>
            <li>
                {{#link-to 'dashboard.mass-mails.all-campaigns'}}All Mass Mail Campaigns{{/link-to}}
            </li>
        </ul>
    </div>
</div>
