<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-users" aria-hidden="true"></i>Users</a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="table">
                <li>
                    {{#link-to 'dashboard.users.add-new-user'}}Add New User{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.users.users-all' }}All Users{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.users.all-tickets' }}All Tickets{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>