<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><i class="fa fa-credit-card" aria-hidden="true"></i>Payments</a>
        </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="table">
                <li>
                    {{#link-to 'dashboard.payouts-to-agents'}}Payouts to Agents{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.reports'}}Reports{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>