<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-tree" aria-hidden="true"></i>Genealogy Tree</a>
        </h4>
    </div>
</div>
