 <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-user-secret" aria-hidden="true"></i>Agents</a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="table">
                <li>
                    {{#link-to 'dashboard.add-new-agent'}}Add New Agent{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.all-agents'}}All Agents{{/link-to}}
                </li>
                <li>
                    {{#link-to 'dashboard.agent-update-history'}}Agent Update History{{/link-to}}
                </li>
            </ul>
        </div>
    </div>
</div>