<section class="dashboard-home">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="home-card">
                <h4>New Customers</h4>
                <span>0 <p>today</p></span>
                <span><p>This month:</p> 0</span>
                <span><p>Total:</p> 0</span>
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="home-card">
                <h4>New Agents</h4>
                <span>0 <p>today</p></span>
                <span><p>This month:</p> 0</span>
                <span><p>Total:</p> 0</span>
                <i class="fa fa-black-tie" aria-hidden="true"></i>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="home-card">
                <h4>New Orders</h4>
                <span>0 <p>today</p></span>
                <span><p>This month:</p> 0</span>
                <span><p>Total:</p> 0</span>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="home-card">
                <h4>New Comissions</h4>
                <span>0 <p>today</p></span>
                <span><p>This month:</p> 0</span>
                <span><p>Total:</p> 0</span>
                <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
        </div>
    </div>

<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3">
    <select class="form-control" name="username">
        <option>Top Agents</option>
        <option>Top Customers</option>
        <option>Top Sellers</option>
    </select>
</div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th> Username</th>
            <th>Confirmed</th>
            <th>Country</th>
            <th><!----></th>
        </tr>
        <tr>
            <td><div class="table-input"><input id="ember934" type="text" class="ember-view ember-text-field"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input id="ember935" type="text" class="ember-view ember-text-field"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input id="ember936" type="text" class="ember-view ember-text-field"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input id="ember937" type="text" class="ember-view ember-text-field"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input id="ember938" type="text" class="ember-view ember-text-field"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input id="ember939" type="text" class="ember-view ember-text-field"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input id="ember940" type="text" class="ember-view ember-text-field"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>

        </tr>

        <tr>
            <td>6</td>
            <td><!----></td>
            <td><!----></td>
            <td>admin</td>
            <td>true</td>
            <td>5</td>
            <td>
                <a href="profile-settings.html" class="table-user-link">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="profile-edit.html" class="table-user-link">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h1 class="main-heading">Financial Analytics Chart</h1>
<p>*After choosing month from select box, you will have access to revenue and pricing data for that period. These values will alow you to compare pricing politics in different times of year and allow you to choose best one for our business.</p>
</section>