<section class="create-message">
    <div class="messages-heading clearfix">
        <h3>Subject</h3>
    </div>

    <div class="user-comment col-xs-8 col-xs-offset-4">
        <div class="username text-right">
            <h4>Username 1</h4>
            <img src="#">
        </div>
        <div class="user-message clearfix">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
            <span class="pull-right">5 days ago</span>
        </div>
    </div>

    <div class="admin-comment col-xs-8 ">
        <div class="username">
            <img src="#">
            <h4>Admin</h4>
        </div>
        <div class="admin-message clearfix">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
            <span>5 days ago</span>
        </div>
    </div>

</section>
