{{table-view-component
        mainTitle='All orders'
        model=model
        colNames=colNames
        colModels=colModels
        page=page
        offset=offset
        maxPages=maxPages
        initialSord='desc'
        filter=(action 'filterModel')
        viewLink="dashboard.payments.purchase-details"
        defaultRules = agentRule
}}
<label>
    {{trans 'admin-user.label.user-filter'}}
</label>
{{inf-select
        optionLabelKey='email'
        on-search = (perform search)
        on-change=(action 'agentSelected')
}}
