<h1 class="main-heading">{{trans 'general.all-orders'}}</h1>

{{inf-select
        optionLabelKey='email'
        on-search = (perform search)
        on-change=(action 'agentSelected')
}}

{{table-view-component
        model=model
        colNames=colNames
        colModels=colModels
        page=page
        offset=offset
        maxPages=maxPages
        initialSord='desc'
        filter=(action 'filterModel')
        viewLink="dashboard.payments.purchase-details"
        defaultRules = agentRule
}}