<h1 class="main-heading clearfix">Payouts to agents
    <span class="pull-right">
        <a href="#" class="btn btn-danger"><i class="fa fa-print"></i></a>
        <a href="#" class="btn btn-danger">Pay</a>
        <a href="#" class="btn btn-primary">Reject</a>
    </span>
</h1>
<div class="top-options">
    <div class="row">
        <div class="col-md-6">
            <select class="form-control" name="country" id="country">
                <option selected value="0">Choose country</option>
                <option value="1">Serbia</option>
                <option value="2">Albania</option>
                <option value="3">Switzerland</option>
            </select>
        </div>
        <div class="col-md-6">
            <a href="#" class="btn btn-danger pull-right">Get report</a>
        </div>
    </div>
</div>
<div class="table-reponsive">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Agent</th>
            <th>Agent status</th>
            <th>Agent type</th>
            <th>Amount</th>
            <th>Memo</th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>

        </tr>

        <tr>
            <td>1</td>
            <td>2.1.2016.</td>
            <td>John Smith</td>
            <td>Active</td>
            <td>Master Agent</td>
            <td>CHF 789</td>
            <td></td>
            <td>
                <a href="#">Pay</a> | <a href="#">Reject</a>
            </td>
            <td>
                <a href="agent-edit.html" class="table-user-link">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2.1.2016.</td>
            <td>John Smith</td>
            <td>Active</td>
            <td>Master Agent</td>
            <td>CHF 789</td>
            <td></td>
            <td>
                <a href="#">Pay</a> | <a href="#">Reject</a>
            </td>
            <td>
                <a href="agent-edit.html" class="table-user-link">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2.1.2016.</td>
            <td>John Smith</td>
            <td>Active</td>
            <td>Master Agent</td>
            <td>CHF 789</td>
            <td></td>
            <td>
                <a href="#">Pay</a> | <a href="#">Reject</a>
            </td>
            <td>
                <a href="agent-edit.html" class="table-user-link">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2.1.2016.</td>
            <td>John Smith</td>
            <td>Active</td>
            <td>Master Agent</td>
            <td>CHF 789</td>
            <td></td>
            <td>
                <a href="#">Pay</a> | <a href="#">Reject</a>
            </td>
            <td>
                <a href="agent-edit.html" class="table-user-link">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2.1.2016.</td>
            <td>John Smith</td>
            <td>Active</td>
            <td>Master Agent</td>
            <td>CHF 789</td>
            <td></td>
            <td>
                <a href="#">Pay</a> | <a href="#">Reject</a>
            </td>
            <td>
                <a href="agent-edit.html" class="table-user-link">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2.1.2016.</td>
            <td>John Smith</td>
            <td>Active</td>
            <td>Master Agent</td>
            <td>CHF 789</td>
            <td></td>
            <td>
                <a href="#">Pay</a> | <a href="#">Reject</a>
            </td>
            <td>
                <a href="agent-edit.html" class="table-user-link">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>