<div class="inbox">
    <div class="row">
        <div class="col-md-4">
            <div class="message-list">
                <div class="message-list-header">
                    <h4>{{trans 'admin-messages.sent.listing'}}</h4>
                    {{#link-to 'dashboard.agent.messages.create-message' class='pull-right btn-floating'}} <i class="fa fa-plus"></i> {{/link-to}}
                </div>
                <div class="message-list-body" id="side-messages">
                    {{messages/sidebar-messages model=model threadSelectedAction=(action 'threadSelected') selectedThread=selectedThread}}
                    {{#infinity-loader infinityModel=model scrollable="#side-messages"}}
                        {{#unless model.reachedInfinity}}
                            <div id="loading-more-state">
                                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                            </div>
                        {{/unless}}
                    {{/infinity-loader}}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {{#if selectedThread}}
                {{messages/message-thread
                        thread=selectedThread
                        createMessageAction=(action 'createMessage')
                        createFileAction=(action 'createFile')
                        deleteThreadAction=(action 'deleteThread')
                }}
            {{/if}}
        </div>
    </div>
</div>