<h1 class="main-heading">Payout History</h1>
<div class="table-reponsive">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>ID</th>
            <th>Statement</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>

        <tr>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>


        </tbody>
    </table>
</div>

