{{#bs-accordion-item title="My profile" class="menu-profile"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.agent.profile.profile-settings'}}
                {{trans 'agent-menu.profile.settings' }}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}

