{{#bs-accordion-item title=(trans "agent-menu.users.title") class="menu-users"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.agent.users.add-new-user'}}
                {{trans 'agent-menu.users.new' }}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.agent.users.users-customers' }}
                {{trans 'agent-menu.users.customers' }}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}