{{#bs-accordion-item title=(trans "agent-menu.invite.invite.people") class="menu-messages"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.agent.invite-people.new-mail-list'}}
                {{trans 'agent-menu.invite.new.mail.list'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.agent.invite-people.all-mail-lists'}}
                {{trans 'agent-menu.invite.all.mail.lists' }}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}