<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-ticket" aria-hidden="true"></i>Tickets</a>
    </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
    <div class="panel-body">
        <ul class="table">
            <li>
                {{#link-to 'dashboard.agent.tickets.tickets-all'}}Ticket history{{/link-to}}
            </li>
            <li>
                {{#link-to 'dashboard.agent.tickets.new-ticket' }}Create ticket{{/link-to}}
            </li>
        </ul>
    </div>
</div>
