{{#bs-accordion-item title="Wallet" class="menu-wallet"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.agent.wallet.wallet-summary'}}
                {{trans 'agent-menu.wallet.summary' }}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.agent.wallet.payout-history' }}
                {{trans 'agent-menu.wallet.history' }}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}
