{{#bs-accordion-item title="Tickets" class="menu-tickets"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.agent.tickets.created-tickets'}}
                {{trans 'agent-menu.tickets.created.tickets' }}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.agent.tickets.tickets-all'}}
                {{trans 'agent-menu.tickets.history' }}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.agent.tickets.new-ticket' }}
                {{trans 'agent-menu.tickets.new' }}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}
