<div class="hoverinfo input-box text-center">
    <h5>
        <span class="flag flag-{{countryCode}}" alt="Country"></span>{{countryName}}
    </h5>
    <h6><i class="fa fa-users"></i>{{trans 'map.agents'}}: {{count}}</h6>
</div>