<dic class="tickets">
    <div class="row">
        <h1 class="main-heading">Ticket Details</h1>
        <!--<span class="pull-right"><a href="" class="btn btn-danger">Forward ticket</a></span>-->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="ticket-info">
                <h3 class="sub-heading">Ticket information</h3>
                <div class="row">
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Ticket ID</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>#21</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Ticket type</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>Bug report</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Date</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>24.12.2016.</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Status</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>Seen</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Order</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>#1001</p></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="user-info clearfix">
                <h3 class="sub-heading">User information</h3>
                <div class="col-md-2 col-sm-3 col-xs-3">
                    <div class="img-holder" style="height: 150px;">
                        <img src="../assets/images/user-avatar.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-9">
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>Username</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>John</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>Full name</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>Smith</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>Email</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>email@provider.com</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="ticket-messages">
            <div class="message clearfix">
                <div class="col-md-12">
                    <div class="user-img">
                        <p>User</p>
                        <div class="img-holder"><img class="img-circle" src="../assets/images/user-avatar.png" alt=""></div>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3">
                    <div class="user-message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deserunt dignissimos, eos ipsam perspiciatis quod. Aspernatur blanditiis eos expedita iusto nemo odit quidem totam vero? Delectus omnis praesentium sit ut.</p>
                        <a href="">file.jpg</a> <span class="pull-right">23.12.2016. 00:37</span>
                    </div>
                </div>
            </div>
            <div class="message clearfix">
                <div class="col-md-12">
                    <div class="user-img admin-img">
                        <div class="img-holder"><img class="img-circle" src="../assets/images/user-avatar.png" alt=""></div>
                        <p>Admin</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="user-message admin-message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deserunt dignissimos, eos ipsam perspiciatis quod. Aspernatur blanditiis eos expedita iusto nemo odit quidem totam vero? Delectus omnis praesentium sit ut.</p>
                        <a href="">file.jpg</a> <span class="pull-right">23.12.2016. 00:37</span>
                    </div>
                </div>
            </div>
            <div class="message clearfix">
                <div class="col-md-12">
                    <div class="user-img admin-img">
                        <div class="img-holder"><img class="img-circle" src="../assets/images/user-avatar.png" alt=""></div>
                        <p>Admin</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <textarea class="form-control" name="comment" id="comment" cols="100" rows="5"></textarea>
                    <a href="#" class="btn btn-primary">Attach a file</a>
                </div>
            </div>
        </div>

        <div class="form-group clearfix pull-right">
            <a href="#" class="btn btn-success btn-lg">Close ticket</a>
            <a href="#" class="btn btn-danger btn-lg">Send ticket</a>
        </div>
    </div>
</dic>