<dic class="tickets">
    <div class="row">
        <div class="col-md-12">
            <h1 class="main-heading">Ticket Details</h1>
        </div>
        <!--<span class="pull-right"><a href="" class="btn btn-danger">Forward ticket</a></span>-->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="ticket-info">
                <h3 class="sub-heading">Ticket information</h3>
                <div class="row">
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Ticket ID</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>#21</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Ticket type</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>Bug report</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Date</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>24.12.2016.</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Status</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>Seen</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-6 col-sm-6 col-xs-12"><p><strong>Order</strong></p></div>
                        <div class="col-md-6 col-sm-6 col-xs-12"><p>#1001</p></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="user-info clearfix">
                <h3 class="sub-heading">User information</h3>
                <div class="col-md-2 col-sm-3 col-xs-3">
                    <div class="img-holder" style="height: 150px;">
                        <img src="../../assets/images/user-avatar.png" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-9">
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>Username</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>John</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>Full name</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>Smith</p></div>
                    </div>
                    <div class="group">
                        <div class="col-md-4 col-sm-4 col-xs-12"><p><strong>Email</strong></p></div>
                        <div class="col-md-8 col-sm-8 col-xs-12"><p>email@provider.com</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <section class="messages clearfix">
            <article>
                <div class="user-comment col-xs-12 col-sm-8 col-sm-offset-4">
                    <div class="username text-right">
                        <h4>Username 1</h4>
                        <img src="../../assets/images/user-avatar.png" title="Username">
                    </div>
                    <div class="user-message clearfix">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                    </div>
                    <span>5 days ago</span>
                </div>
            </article>

            <article>
                <div class="admin-comment col-xs-12 col-sm-8 ">
                    <div class="username username-admin">
                        <img src="../../assets/images/user-avatar.png" title="Admin">
                        <h4>Admin</h4>
                    </div>
                    <div class="admin-message clearfix">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                    </div>
                    <span>5 days ago</span>
                </div>
            </article>

            <article>
                <div class="user-comment col-xs-12 col-sm-8 col-sm-offset-4">
                    <div class="username text-right">
                        <h4>Username 1</h4>
                        <img src="../../assets/images/user-avatar.png" title="Username">
                    </div>
                    <div class="user-message clearfix">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                    </div>
                    <span>5 days ago</span>
                </div>
            </article>

            <article>
                <div class="admin-comment col-xs-12 col-sm-8 ">
                    <div class="username username-admin">
                        <img src="../../assets/images/user-avatar.png" title="Admin">
                        <h4>Admin</h4>
                    </div>
                    <div class="admin-message clearfix">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                    </div>
                    <span>5 days ago</span>
                </div>
            </article>
        </section>

        <div class="send-message-mobile">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 no-padding-left-right no-border-radius">
                    <textarea class="form-control" name="enter-message" placeholder="Enter Message"></textarea>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                </div>
            </div>
            <div class="form-group clearfix text-right">
                <div class="col-md-12 no-padding-left-right">
                    <a href="#" class="btn btn-info ">Attach Files</a>
                    <a href="#" class="btn btn-danger ">Send</a>
                </div>
            </div>
        </div>
    </div>
</dic>