<h1 class="main-heading">All Agents</h1>
<div class="table-reponsive">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Country</th>
            <th>Confirmed</th>
            <th></th>
        </tr>

        <tr>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>
            <td><div class="table-input"><input type="text"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div></td>

        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>
                {{#link-to 'dashboard.agents.agent-view'}}<i class="fa fa-eye" aria-hidden="true"></i>{{/link-to}}
                {{#link-to 'dashboard.agents.agent-edit'}}<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{/link-to}}
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>
                {{#link-to 'dashboard.agents.agent-view'}}<i class="fa fa-eye" aria-hidden="true"></i>{{/link-to}}
                {{#link-to 'dashboard.agents.agent-edit'}}<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{/link-to}}
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>
                {{#link-to 'dashboard.agents.agent-view'}}<i class="fa fa-eye" aria-hidden="true"></i>{{/link-to}}
                {{#link-to 'dashboard.agents.agent-edit'}}<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{/link-to}}
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>
                {{#link-to 'dashboard.agents.agent-view'}}<i class="fa fa-eye" aria-hidden="true"></i>{{/link-to}}
                {{#link-to 'dashboard.agents.agent-edit'}}<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{/link-to}}
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>
                {{#link-to 'dashboard.agents.agent-view'}}<i class="fa fa-eye" aria-hidden="true"></i>{{/link-to}}
                {{#link-to 'dashboard.agents.agent-edit'}}<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{/link-to}}
            </td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>
                {{#link-to 'dashboard.agents.agent-view'}}<i class="fa fa-eye" aria-hidden="true"></i>{{/link-to}}
                {{#link-to 'dashboard.agents.agent-edit'}}<i class="fa fa-pencil-square-o" aria-hidden="true"></i>{{/link-to}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
