{{agent-header}}
<section class="admin-panel">
    <div class="container-fluid fixed-margin all-users">
        {{agent-left-menu}}
        <div class=" right-section">
            {{outlet}}
        </div>
    </div>
</section>