{{agent-header user=user settings=model transitionToRoute=(action "transitionTo")}}
<section class="admin-panel">
    <div class="container-fluid fixed-margin">
        {{outlet}}
    </div>
</section>