<div class="page-header">
    <h1>Ember Simple Auth example app</h1>
</div>
{{#unless session.isAuthenticated}}
    <div class="alert alert-info">
        You can {{#link-to 'login' classNames='alert-link'}}log in{{/link-to}}
    </div>
{{/unless}}
<div class="alert alert-info">
    Ovo je index page
</div>