<section class="login-section">
    <div class="fullscreen-bg">
        <video class="fullscreen-bg__video" autoplay loop muted>
            <source src="assets/videos/video.mp4">
        </video>
    </div>
    <div class="login">
        <div class="login-form">
            {{outlet}}
        </div>
    </div>
</section>