{{#bs-accordion-item title="Agents" class="menu-agents"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.agents.add-new-agent'}}
                {{trans 'admin-menu.agents.new'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.agents.all-agents'}}
                {{trans 'admin-menu.agents.all' }}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.agents.agent-update-history'}}
                {{trans 'admin-menu.agents.update.history' }}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}