{{#bs-accordion-item title=(trans "admin-menu.users.title") class="menu-users"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.users.user-add'}}
                {{trans 'admin-menu.users.new' }}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.users.users-customers' }}
                {{trans 'admin-menu.users.all' }}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.users.all-tickets' }}
                {{trans 'admin-menu.users.tickets' }}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}
