{{#bs-accordion-item title=(trans "admin-menu.payments.title") class="menu-payments"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.payments.payouts-to-agents'}}
                {{trans 'admin-menu.payments.payouts.to.agents'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.payments.reports'}}
                {{trans 'admin-menu.payments.reports'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.payments.rejected-payments'}}
                {{trans 'models.payment-info.rejected-payments'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.payments.orders'}}
                {{trans 'admin-menu.payments.orders'}}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}
