{{#bs-accordion-item title="Mass mails"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.mass-mails.add-new-mail-list'}}
                {{trans 'admin-menu.mass.mails.new.mail.list'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.mass-mails.all-mail-lists'}}
                {{trans 'admin-menu.mass.mails.all.mail.lists'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.mass-mails.add-new-campaign'}}
                {{trans 'admin-menu.mass.mails.new.campaign'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.mass-mails.all-campaigns'}}
                {{trans 'admin-menu.mass.mails.all.campaigns'}}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}