
<div class="panel-heading">
    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-user-secret" aria-hidden="true"></i>Agents</a>
    </h4>
</div>
<div id="collapseFour" class="panel-collapse collapse">
    <div class="panel-body">
        <ul class="table">
            <li>
                {{#link-to 'dashboard.agents.add-new-agent'}}{{trans 'menu.agents' }}{{/link-to}}
            </li>
            <li>
                {{#link-to 'dashboard.agents.all-agents'}}All Agents{{/link-to}}
            </li>
            <li>
                {{#link-to 'dashboard.agents.agent-update-history'}}Agent Update History{{/link-to}}
            </li>
        </ul>
    </div>
</div>
