{{#bs-accordion-item title="Payments" class="menu-payments"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.payments.payouts-to-agents'}}
                {{trans 'admin-menu.payments.payouts.to.agents'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.payments.reports'}}
                {{trans 'admin-menu.payments.reports'}}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}
