<div class="panel panel-default menu-genealogy">
    <div class="panel-heading">
        <h4 class="panel-title">
            {{#link-to 'dashboard.genealogy-tree'}}{{trans 'admin-menu.genealogy.tree.title' }}{{/link-to}}
        </h4>
    </div>
</div>