{{#bs-accordion-item title="Messages"}}
    <ul class="table">
        <li>
            {{#link-to 'dashboard.messages.received-messages'}}
                {{trans 'admin-menu.messages.received'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.messages.drafts'}}
                {{trans 'admin-menu.messages.drafts'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.messages.sent'}}
                {{trans 'admin-menu.messages.sent'}}
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'dashboard.messages.trash'}}
                {{trans 'admin-menu.messages.trash'}}
            {{/link-to}}
        </li>
    </ul>
{{/bs-accordion-item}}
