<div class="inbox">
    <div class="row">
        <div class="col-md-4">
            <div class="message-list">
                <div class="message-list-header">
                    <h4>{{trans 'admin-messages.received.listing'}}</h4>
                    {{#link-to 'dashboard.messages.create-message' class='pull-right btn-floating'}} <i class="fa fa-plus"></i> {{/link-to}}
                </div>
                <div class="message-list-body" id="side-messages">
                    {{messages/sidebar-messages model=model threadSelectedAction=(action 'threadSelected') selectedThread=selectedThread}}
                    {{#infinity-loader infinityModel=model scrollable="#side-messages"}}
                        {{#if _canLoadMore}}
                            <div id="loading-more-state">
                                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                            </div>
                        {{/if}}
                    {{/infinity-loader}}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {{#if selectedThread}}
                {{messages/message-thread
                thread=selectedThread
                createMessageAction=(action 'createMessage')
                createFileAction=(action 'createFile')
                deleteThreadAction=(action 'deleteThread')
                }}
            {{/if}}
        </div>
    </div>
</div>





{{!--<div class="inbox">--}}
    {{!--<div class="row">--}}
        {{!--<div class="col-md-4">--}}
            {{!--<div class="message-list">--}}
                {{!--<div class="message-list-header">--}}
                    {{!--<h4>Recent conversations</h4>--}}
                    {{!--{{#link-to 'dashboard.messages.create-message' class='pull-right btn-floating'}} <i class="fa fa-plus"></i> {{/link-to}}--}}
                {{!--</div>--}}
                {{!--<div class="message-list-body">--}}
                    {{!--<div class="conversation-item">--}}
                        {{!--<div class="img-holder">--}}
                            {{!--<img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt="">--}}
                        {{!--</div>--}}
                        {{!--<div class="content">--}}
                            {{!--<h3 class="name">--}}
                                {{!--John Smith--}}
                            {{!--</h3>--}}
                            {{!--<h4 class="subject"><strong>Subject:</strong> thanks, you are amazing</h4>--}}
                            {{!--<h5 class="content-text">Your generous donation saved 3 million puppies...</h5>--}}
                        {{!--</div>--}}
                        {{!--<div class="conversation-active"></div>--}}
                    {{!--</div>--}}
                    {{!--<div class="conversation-item">--}}
                        {{!--<div class="img-holder">--}}
                            {{!--<img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt="">--}}
                        {{!--</div>--}}
                        {{!--<div class="content">--}}
                            {{!--<h3 class="name">--}}
                                {{!--John Smith--}}
                            {{!--</h3>--}}
                            {{!--<h4 class="subject"><strong>Subject:</strong> thanks, you are amazing</h4>--}}
                            {{!--<h5 class="content-text">Your generous donation saved 3 million puppies...</h5>--}}
                        {{!--</div>--}}
                    {{!--</div>--}}
                    {{!--<div class="conversation-item">--}}
                        {{!--<div class="img-holder">--}}
                            {{!--<img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt="">--}}
                        {{!--</div>--}}
                        {{!--<div class="content">--}}
                            {{!--<h3 class="name">--}}
                                {{!--John Smith--}}
                            {{!--</h3>--}}
                            {{!--<h4 class="subject"><strong>Subject:</strong> thanks, you are amazing</h4>--}}
                            {{!--<h5 class="content-text">Your generous donation saved 3 million puppies...</h5>--}}
                        {{!--</div>--}}
                    {{!--</div>--}}
                {{!--</div>--}}
            {{!--</div>--}}
        {{!--</div>--}}
        {{!--<div class="col-md-8">--}}
            {{!--<div class="message-full">--}}
                {{!--<div class="message-header">--}}
                    {{!--<div class="message-active"></div>--}}
                    {{!--<h3 class="name">Joh Smith</h3>--}}
                    {{!--<h4 class="subject"><strong>Subject:</strong> Thanks, you are amazing</h4>--}}
                {{!--</div>--}}
                {{!--<div class="message-body">--}}
                    {{!--<section class="view-message">--}}

                        {{!--<section class="messages clearfix">--}}
                            {{!--<article>--}}
                                {{!--<div class="user-comment">--}}
                                    {{!--<div class="username">--}}
                                        {{!--<h4>Username</h4>--}}
                                        {{!--<div class="img-holder">--}}
                                            {{!--<img src="../../assets/images/user-avatar.png" title="Username">--}}
                                        {{!--</div>--}}
                                    {{!--</div>--}}
                                    {{!--<div class="user-message clearfix">--}}
                                        {{!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>--}}
                                        {{!--<span>5 days ago</span>--}}
                                    {{!--</div>--}}
                                {{!--</div>--}}
                            {{!--</article>--}}

                            {{!--<article>--}}
                                {{!--<div class="admin-comment">--}}
                                    {{!--<div class="admin-message clearfix">--}}
                                        {{!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>--}}
                                        {{!--<span>5 days ago</span>--}}
                                    {{!--</div>--}}
                                    {{!--<div class="username username-admin">--}}
                                        {{!--<div class="img-holder">--}}
                                            {{!--<img src="../../assets/images/user-avatar.png" title="Admin">--}}
                                        {{!--</div>--}}
                                        {{!--<h4>Admin</h4>--}}
                                    {{!--</div>--}}
                                {{!--</div>--}}
                            {{!--</article>--}}

                            {{!--<article>--}}
                                {{!--<div class="user-comment">--}}
                                    {{!--<div class="username">--}}
                                        {{!--<h4>Username</h4>--}}
                                        {{!--<div class="img-holder">--}}
                                            {{!--<img src="../../assets/images/user-avatar.png" title="Username">--}}
                                        {{!--</div>--}}
                                    {{!--</div>--}}
                                    {{!--<div class="user-message clearfix">--}}
                                        {{!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>--}}
                                        {{!--<span>5 days ago</span>--}}
                                    {{!--</div>--}}
                                {{!--</div>--}}
                            {{!--</article>--}}

                            {{!--<article>--}}
                                {{!--<div class="admin-comment">--}}
                                    {{!--<div class="admin-message clearfix">--}}
                                        {{!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>--}}
                                        {{!--<span>5 days ago</span>--}}
                                    {{!--</div>--}}
                                    {{!--<div class="username username-admin">--}}
                                        {{!--<div class="img-holder">--}}
                                            {{!--<img src="../../assets/images/user-avatar.png" title="Admin">--}}
                                        {{!--</div>--}}
                                        {{!--<h4>Admin</h4>--}}
                                    {{!--</div>--}}
                                {{!--</div>--}}
                            {{!--</article>--}}
                        {{!--</section>--}}
                    {{!--</section>--}}
                {{!--</div>--}}
                {{!--<div class="send-message-mobile">--}}
                    {{!--<div class="input-group">--}}
                        {{!--<input type="text" class="form-control" placeholder="Enter your message">--}}
                        {{!--<i class="fa fa-paperclip"></i>--}}
                        {{!--<div class="dropzone-holder"><div class="dropzone dropzone-clickable"></div></div>--}}
                        {{!--<span class="input-group-btn">--}}
                            {{!--<button class="btn btn-success" type="button">Send message</button>--}}
                        {{!--</span>--}}
                    {{!--</div>--}}
                {{!--</div>--}}
            {{!--</div>--}}
        {{!--</div>--}}
    {{!--</div>--}}
{{!--</div>--}}