<h1 class="main-heading">Sent Messages</h1>
<div class="clearfix">
    {{#link-to 'dashboard.messages.create-message' class='pull-right btn btn-danger'}}Create Message{{/link-to}}
</div>

<div id="side-messages" style="height: 500px; overflow-y: scroll">
    {{messages/sidebar-messages model=model threadSelectedAction=(action 'threadSelected')}}
    {{infinity-loader infinityModel=model scrollable="#side-messages"}}
</div>

{{messages/sent-message thread=selectedThread}}
