<section class="view-message">

    <section class="messages clearfix">
            <h1 class="main-heading">Subject</h1>

        <article>
            <div class="admin-comment col-xs-12 col-sm-8 ">
                <div class="username username-admin">
                    <img src="../../assets/images/user-avatar.png" title="Admin">
                    <h4>Admin</h4>
                </div>
                <div class="admin-message clearfix">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
                </div>
                <span>5 days ago</span>
            </div>
        </article>
    </section>


    <div class="col-xs-12 col-sm-12 col-md-6">
        <textarea class="form-control" name="enter-message" placeholder="Enter Message"></textarea>
    </div>
    <div class="form-group clearfix text-left">
        <div class="col-xs-12">
            <a href="#" class="btn btn-danger ">Send</a>
            <a href="#" class="btn btn-danger btn-grey ">Cancel</a>
        </div>
    </div>
</section>

